doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="styles/style.css", type="text/css")
		script(type="text/javascript", language="Javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")
	body

		script(type="text/javascript").
			$("body").keyup(function(e) {
				if(e.keyCode == 27)
				{
					$(".overlay").addClass("hidden");
					$(".slide-panel").addClass("hidden");
				}
			});

		script(type="text/javascript").
			$(document).ready(function() {
				$("#menu-icon").click(function() {
					if($("#slide-panel.hidden")[0])
					{
						$(".overlay").removeClass("hidden");
						$(".slide-panel").removeClass("hidden");
						return false;
					}
					else
					{
						$(".overlay").addClass("hidden");
						$(".slide-panel").addClass("hidden");
						return false;
					}
				});

				$(".slide-panel a").click(function() {

					var data = { clicked : $(this).text()};
					
					$.ajax({
						contentType: "application/json",
						type: "POST",
						url: "/",
						data: JSON.stringify(data),
						success: function(msg)
						{
							$("#embeded-page").attr("src", msg);
							var obj = $("#content");
							var orig = obj.html();
							obj.html(orig);
						}

					});

					return false;
				});
			});

		div(id="dashboard-header" class="dashboard-header color-scheme")
			header
				ul
					li(id="menu-icon", class="hover-color-scheme")
						a(href="#")
							img(src="images/menu-alt-512-1.png") 
					li
						h2 #{title}
			div(id="slide-panel", class="slide-panel hover-color-scheme hidden")
				nav
					ul
						each url, title in sites
							li
								a(href="#")
									h3= title

		div(id="overlay", class="overlay hidden")

		main
			div(id="content")
				embed(id="embeded-page", class="webpage" src="http://web.any.do")/
