.color-scheme {
	background-color: #2f3036;
}

.hover-color-scheme :hover {
	background-color: #19c589;
}

.hidden {
	visibility: hidden;
}

body {
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 15px;
}

.dashboard-header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
}

.dashboard-header header ul {
	list-style-type: none;
	margin: 0;
	border: 0;
	padding: 0;
}

.dashboard-header header ul > li {
	display: inline-block;
	float: left;
}

.dashboard-header header ul > li img {
	line-height: 50px;
	height: 50px;
	width: 50px;
	vertical-align: middle;
}

.dashboard-header header ul > li > h2 {
	color: #fff;
	margin: 0;
	padding: 0 5px;
	padding-right: 10px;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	border-right: 3px solid #fff;
}

.slide-panel ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.slide-panel ul > li {
	display: inline-block;
	float: left;
	width: 160px;
	border-right: 3px solid #fff;
}

.slide-panel ul > li > a {
	text-decoration: none;
}

.slide-panel ul > li > a > h3 {
	color: #fff;
	line-height: 50px;
	margin: 0;
	padding: 0 5px;
	text-align: center;
	vertical-align: middle;
}

.overlay {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.85);
}

#content embed {
	position: fixed;
	margin-top: 50px;
	min-height: 100%;
	min-width: 100%;
	overflow: scroll;

}